* {
    box-sizing: border-box;
}

/* Helps with forcing footer to the bottom */
html, body{
    min-height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
}

/* Header and top level heading styling and color of my choice */
header {
    text-align:  center;
}

body header h1 {
    display: inline-block;
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    
    background-color: rgb(39, 64, 101);
    color: white;

    padding: 5px 1em 0px 1em;

    border-radius: .75em;
    border-width: 10px;
    border-color: white;
    border-style: double;
}

#header-name {
    display: inline-block;
    font-family: 'Indie Flower';
    font-weight: 300;
}


/* Cards centered on page */
.project-cards{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}


/* Footer forced to bottom of page and color changed*/
footer {
    margin-top: auto;

    color: rgb(21, 83, 133);
}
