* {
    box-sizing: border-box;
}

/* Helps with forcing footer to the bottom */
html, body{
    min-height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
}

/* Header and top level heading styling and color of my choice */
header {
    text-align:  center;
}

body header h1 {
    display: inline-block;
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    
    background-color: rgb(39, 64, 101);
    color: white;

    padding: 5px 1em 0px 1em;

    border-radius: .75em;
    border-width: 10px;
    border-color: white;
    border-style: double;
}

#header-name {
    display: inline-block;
    font-family: 'Indie Flower';
    font-weight: 300;
}


/* Cards centered on page and styled*/
.project-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto 10vw auto 10vw;
}

.card {
    width: max-content;
    margin: 12px 12px 12px 12px;
    padding: 1em;
    text-align: center;

    background-color: rgb(222, 233, 255);
    color: rgb(39, 64, 101);

    border-color: rgb(39, 64, 101);
    border-radius: .75em;
    border-style: double;
    border-width: 10px;

    font-size: large;
    font-weight: 900;
    text-decoration: none;

}


/* Footer forced to bottom of page */
footer {
    margin-top: auto;

    color: rgb(21, 83, 133);
}
