* {
    box-sizing: border-box;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 0px) and (max-width: 500px) {
    header {
    text-align: center;
    color: #183c33;
    }
    section {
        background-color: #527153;
        color: white;
        padding: 0;
        border-radius: 1em;
    }
}

@media (min-width: 501px) {
    header {
        text-align: center;
        color: #183c33;
    }
    section {
        background-color: #527153;
        color: white;
        padding: 0;
        border-radius: 1em;
        margin: 50px;
    }
}

hr {
    color: #527153;
    margin: 0 20%;
    height: 3px;
    background-color: #527153; 
    border-radius: 1em;
    border-style: hidden;
}

section h2 {
    padding: 25px;
    padding-bottom:5px;
}

/* a:link {
    color: hsl(218, 100%, 80%);
}
a:visited {
    color: rgb(231, 179, 255);
} */

.content {  
    background-color: #f1f3ea;
    color: #183c33;
    padding: 25px;
    border-radius: 1em;
    /* border-top-left-radius: 0;
    border-top-right-radius: 0;; */
    border-width: 3px;
    border-style: solid;
    border-color: #83a98d;
    border-top: hidden;
}

h3 {
    padding: .25em 1em;
    margin: 0;

    background-color: #d3e1c8;
    text-align: left;
    display: inline-block;

    border-radius: .75em;
}

.centered-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.centered-flex li {
    position: relative;
    margin: 0 20px;
    right: 2em;
}

