* {
    box-sizing: border-box;
}

/* 
>>>>>>>>>>>>>>>>>>>>>>>>>>>
            Page 
<<<<<<<<<<<<<<<<<<<<<<<<<<< 
*/

body {
    margin: 0;
    background-color: #000310;
    color: white;
    font-size: 1.33rem;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    text-align: center;
}

/* 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>
      Links and Other
<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
*/

.silent-link:link, .silent-link:visited{
    color: white;
    text-decoration: none;
}

.silent-link:hover, .silent-link:active, .silent-link:focus-visible {
    text-decoration: underline solid;
}

footer a:link, footer a:visited {
    color: hsl(218, 100%, 80%);
}

.glow {
    text-shadow: 0 2px 75px white;
}

.silent-href:hover {
    text-decoration: none;
}

.text-outline {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/-webkit-text-stroke */
    -webkit-text-stroke: 1px rgb(63, 64, 85);
}

.double-underline-orange {
    text-decoration: underline double orange;
}
.underline-orange {
    text-decoration: underline solid orange;
}

/* 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            Layout 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
*/

.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 1em;
    max-width: 1500px;
}

.section-bar {
    width: 80%;
    height: 3px;
    border: 0;
    border-radius: 1em;
    background-color: #3f4055;
}

.sub-section-bar {
    width: 450px;
    height: 3px;
    border: 0;
    border-radius: 1em;
    background-color: orange;
}

.button {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 1em;
    background-color: rgba(255, 165, 0, 0.75);
    color: white;
    text-decoration: none;
}

.button:hover,.button:active {
    background-color: rgba(63, 64, 85, 0.9);
}

.small-margin {
    margin: 5px;
}

/* 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
          Key Stats 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
*/

.stat-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 1em;
    padding: 0;
    list-style: none;
}

.stat-card {
    margin: 10px 20px;
    padding: 20px;
    width: 300px;
    border-radius: 1em;
    background-color: #1f262b;
}

.stat-value-emphasis {
    font-size: 2rem;
    font-weight: bold;
    display: block;

    color: orange;
}

.change {
    color: orange;

    font-size: 2rem;
    font-weight: bold;
}

.change-small {
    color: orange;
    padding: 5px;

    font-size: 1.5rem;
    font-weight: bold;
}

.give-me-room {
    padding: 50px 5px 25px 5px;
}


/* 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    Problem Information 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
*/

.problem-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    text-align: center;
    margin: 2em 1em;
    padding: 0;
    list-style: none;
}

.problem-card {
    margin: 10px 20px;
    padding: 20px;
    font-size: 1.25rem;
    border-radius: 1em;
    background-color: #1f262b;
}

.problem-statement {
    font-size: 1.5rem;
    font-weight: bold;
}

.problem-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

.img-window {
    width: 300px;
    height: 300px;

    object-fit: cover;
    object-position: center;

    border-radius: 1em;
    border: 2px solid #3f4055;
}


/* 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
           Explore  
<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
*/

.explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    margin: 2em 1em;
}

.explore-card {
    display: flex;
    width: 100%;

    background-color: #1f262b;
    border-radius: 1em;
    margin: 10px 0;
    padding: 24px;



    flex-direction: column;
}

.explore-card-img {
    grid-row: span 2;
}

.explore-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    padding: 10px;
}

.explore-card-button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 1em;

    align-content: center;
    
    color: white;
    text-decoration: none;
}

/* 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
         Navigation 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
*/

.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;    /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/z-index */
    display: flex;
    width: 100%;
    background-color: rgba(63, 64, 85, 0.9);
}

.nav-left, .nav-right {
    display: flex;
    flex: 1;
}

.nav-right {
    justify-content: flex-end;
}

.nav-home, .nav-login {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 1em;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;

    border: 2px solid transparent;
}

.nav-home {
    background-color: rgba(255, 165, 0, 0.75);
    min-width: 168px;
}

.nav-home:hover, .nav-home:active {
    background-color: transparent;
    border: 2px solid orange;
}

.nav-login {
    font-weight: 600;
}

.nav-login:hover,.nav-login:active {
    color: orange;
}

.nav-center {
    display: none; /* not shown on small screens. I will incorporate a hamburger menu for small screens */
    margin: 10px 0;
    border-radius: 1em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
    font-weight: bold;
}

.nav-link {
    flex: 1;
    min-width: 150px;
    margin: 0 12px;
    padding: 10px 20px;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
}

.nav-link:hover,.nav-link:active {
    color: orange;
}

/* 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            Hero     
<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
*/

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    max-height: 800px;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: bottom;
    /* Fixes the squishing of the image at odd aspect ratios */
    /* https://www.digitalocean.com/community/tutorials/css-cropping-images-object-fit */
}

.hero-title {
    position: relative; /* keeps the title on top of the image */
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    text-shadow: 0 2px 75px rgba(59, 155, 207, 1);
}

/* 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            Footer 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
*/

footer {
    padding: 1em;
    text-align: center;
}

/* 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
      Medium Screens and Up 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
*/

@media (min-width: 825px) {
    .top-nav {
        background-color: transparent;
    }

    .nav-center {
        display: flex;
        background-color: rgba(63, 64, 85, 0.9);
        margin:auto;
    }

    .nav-login {
        background-color: rgba(63, 64, 85, 0.9);
    }

    .stat-card {
        max-width: 45%;
    }

    .hero-title {
        font-size: 3.5rem;
    }

    .explore-card {
        display: grid;
        
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
        gap: 20px;
    }

    .explore-card-img {
        grid-row: span 2;
    }

    .explore-card:nth-child(even) .explore-card-img{
        grid-column: 2;
        grid-row: span 2;
    }

    .explore-card:nth-child(even) .explore-card-info{
        grid-column: 1;
        grid-row: 1;
    }

    .explore-card:nth-child(even) .explore-card-button{
        grid-column: 1;
        grid-row: 2;
    }
}

/*
>>>>>>>>>>>>>>>>>>>>>>>>>>>
    Large Screens and Up     
<<<<<<<<<<<<<<<<<<<<<<<<<<<
*/

@media (min-width: 1000px) {
    .section-bar {
        width: 95%;
    }

    .stat-card {
        max-width: 30%;
    }

    .hero-title {
        font-size: 5rem;
    }
}

/* 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    Extra Large Screens 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
*/

@media (min-width: 1500px) {
    .section-bar {
        width: 1500px;
    }
}
