* {
    box-sizing: border-box;
}

/* 
>>>>>>>>>>>>>>>>>>>>>>>>>>>
            Page 
<<<<<<<<<<<<<<<<<<<<<<<<<<< 
*/

body {
    margin: 0;
    background-color: #101418;
    color: white;
    font-size: 1.33rem;
}

/* 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>
      Links and Other
<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
*/

.stat-card a:link, p a:link {
    color: hsl(218, 100%, 80%);
}

.stat-card a:visited, p a:visited {
    color: #e7b3ff;
}

/* 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            Layout 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
*/

.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 1em;
    max-width: 1500px;
}

.section-bar {
    width: 80%;
    height: 3px;
    border: 0;
    border-radius: 1em;
    background-color: #3f4055;
}

.button {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 1em;
    background-color: rgba(255, 165, 0, 0.75);
    color: white;
    text-decoration: none;
}

.button:hover,.button:active {
    background-color: rgba(63, 64, 85, 0.9);
}

/* 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
          Key Stats 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
*/

.stat-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 1em;
    padding: 0;
    list-style: none;
}

.stat-card {
    margin: 10px 20px;
    padding: 20px;
    width: 300px;
    border-radius: 1em;
    background-color: #1f262b;
}

.stat-value-emphasis {
    font-size: 2rem;
    font-weight: bold;
    display: block;

    color: orange;
}

.change {
    color: orange;
    text-shadow: 0 2px 75px white;
    padding: 50px 5px 25px 5px;

    font-size: 2rem;
    font-weight: bold;
}

.change-small {
    color: orange;
    text-shadow: 0 2px 75px white;
    padding: 5px;

    font-size: 1.5rem;
    font-weight: bold;
}

/* 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
         Navigation 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
*/

.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;    /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/z-index */
    display: flex;
    width: 100%;
    background-color: rgba(63, 64, 85, 0.9);
}

.nav-left, .nav-right {
    display: flex;
    flex: 1;
}

.nav-right {
    justify-content: flex-end;
}

.nav-home, .nav-login {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 1em;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
}

.nav-home {
    background-color: rgba(255, 165, 0, 0.75);
    min-width: 164px;
}

.nav-home:hover, .nav-home:active {
    background-color: rgba(63, 64, 85, 0.9);
}

.nav-login {
    font-weight: 600;
}

.nav-login:hover,.nav-login:active {
    color: orange;
}

.nav-center {
    display: none; /* not shown on small screens. I will incorporate a hamburger menu for small screens */
    margin: 10px 0;
    border-radius: 1em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
    font-weight: bold;
}

.nav-link {
    flex: 1;
    min-width: 150px;
    margin: 0 12px;
    padding: 10px 20px;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
}

.nav-link:hover,.nav-link:active {
    color: orange;
}

/* 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            Problem     
<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
*/

.problem-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
    padding: 0;
    list-style: none;
}

.problem-card {
    margin: 10px 20px;
    padding: 20px;
    font-size: 1.25rem;
    border-radius: 1em;
    background-color: #1f262b;

    text-shadow: 0 2px 75px white;
}

.problem-statement {
    font-size: 1.5rem;
    font-weight: bold;
}

/* 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            Hero     
<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
*/

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    max-height: 800px;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: bottom;
    /* Fixes the squishing of the image at odd aspect ratios */
    /* https://www.digitalocean.com/community/tutorials/css-cropping-images-object-fit */
}

.hero-title {
    position: relative; /* keeps the title on top of the image */
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    text-shadow: 0 2px 75px rgba(59, 155, 207, 1);
}

/* 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            Footer 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
*/

footer {
    padding: 1em;
    text-align: center;
}

/* 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
      Medium Screens and Up 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
*/

@media (min-width: 825px) {
    .top-nav {
        background-color: transparent;
    }

    .nav-center {
        display: flex;
        background-color: rgba(63, 64, 85, 0.9);
        margin:auto;
    }

    .nav-login {
        background-color: rgba(63, 64, 85, 0.9);
    }

    .stat-card {
        max-width: 45%;
    }

    .hero-title {
        font-size: 3.5rem;
    }
}

/*
>>>>>>>>>>>>>>>>>>>>>>>>>>>
    Large Screens and Up     
<<<<<<<<<<<<<<<<<<<<<<<<<<<
*/

@media (min-width: 1000px) {
    .section-bar {
        width: 95%;
    }

    .stat-card {
        max-width: 30%;
    }

    .hero-title {
        font-size: 5rem;
    }
}

/* 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    Extra Large Screens 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
*/

@media (min-width: 1500px) {
    .section-bar {
        width: 1500px;
    }
}
